@import url(./styles/fonts.css);
@import url(./styles/vars.css);
@import url(./styles/normalize.css);

html,body {
  font-family: var(--font-family-base);
  scroll-behavior: smooth;
  background-color: var(--light-color);
  color: var(--dark-alt-color);
  background-attachment: fixed;
  min-width: 1440px;
  width: auto;
}



.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

}

.wrap {
  background: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
  height: 74px;
display: flex;
align-items: center;
}

.resotoApp-header {
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.resotoApp-header__menu {
  display: flex;
  gap: 24px;
}

.resotoApp-header__menu-item {
  font-size: 16px;
  font-weight: 600;

}

.resotoApp-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.resotoApp-header__contacts-phone {
  font-size: 18px;
  font-weight: 600;
}

.resotoApp-header__contacts-time {
  font-size: 12px;
}

.resotoApp-main {
  padding: 32px 64px;
}


.resotoApp-main__title {
  margin-bottom: 32px;
  color: var(--dark-color);

}

.resotoApp-main__list {
  display: flex;
  gap: 32px;
}

.list-item {
  width: 304px;
  height: 304px;
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.card-image {
  position: relative;
  border-radius: var(--border-radius);
}

.list-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 2;
    border-radius: var(--border-radius);
}

.list-item__title {
  font-size: 24px;
  color: var(--light-color);
  position: absolute;
  padding: 0px 0px 10px 16px;
  font-weight: 600;
  z-index: 3;
}
