@import url(./styles/fonts.css);
@import url(./styles/vars.css);
@import url(./styles/normalize.css);
@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/footer.css);

html,
body {
	font-family: var(--font-family-base);
	scroll-behavior: smooth;
	background-color: var(--light-color);
	color: var(--dark-alt-color);
	background-attachment: fixed;
	min-width: 1440px;
	width: auto;
}

.wrap {
	display: flex;
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 60px;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}
