@import url(./styles/fonts.css);
@import url(./styles/vars.css);
@import url(./styles/normalize.css);

html,
body {
	font-family: var(--font-family-base);
	scroll-behavior: smooth;
	background-color: var(--light-color);
	color: var(--dark-alt-color);
	background-attachment: fixed;
	min-width: 1440px;
	width: auto;
}

.wrap {
	display: flex;
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 76px;
	align-items: center;
	justify-content: space-between;
}

.header {
	background: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
	height: 80px;
	display: flex;
	align-items: center;
}

.header-menu {
	display: flex;
	gap: 24px;
}
.header-menu__item {
	font-size: 16px;
	font-weight: 600;
}
.header-menu__item:hover {
	opacity: 0.7;
	transition-duration: var(--transition-duration);
}

.header-info {
	display: flex;
	gap: 64px;
	align-items: center;
}

.header-info__contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header-info__contacts-phone {
	font-size: 18px;
	font-weight: 600;
}

.header-info__contacts-phone:hover {
	opacity: 0.7;
	transition-duration: var(--transition-duration);
}

.header-info__contacts-time {
	font-size: 12px;
}

.main {
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 64px;
	gap: 32px;
	display: flex;
	flex-direction: column;
}

.main-headline {
	margin-block: 32px;
	color: var(--dark-color);
	font-size: 40px;
	font-family: var(--font-family-bold);
	line-height: 40px;
}

.restoApp-main__title {
	margin-block: 32px;
	color: var(--dark-color);
}

.main-list {
	display: flex;
	gap: 32px;
}

.main-list__item-menu {
	width: 304px;
	height: 304px;
	border-radius: var(--border-radius);
	position: relative;
	transition: var(--transition-duration);
}

.main-list__item-menu:hover {
	transform: scale(1.02);
}

.main-list__item {
	width: 304px;
	height: 304px;
	border-radius: var(--border-radius);
	position: relative;
	transition: var(--transition-duration);
}

.main-list__item:hover {
	transform: scale(1.02);
}

.main-list__item-card {
	position: relative;
	border-radius: var(--border-radius);
}

.main-list__item-menu:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.5) 100%
	);
	z-index: 2;
	border-radius: var(--border-radius);
}

.main-list__item-title {
	font-size: 24px;
	color: var(--light-color);
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-weight: 600;
	z-index: 3;
}

.main-list__item-badges {
	position: absolute;
	z-index: 3;
	top: 8px;
	right: 8px;
}

.main-list__dish {
	font-size: 18px;
	font-weight: 600;
	color: var(--dark-color);
	margin-top: 16px;
}

.main-list__subtitle {
	padding-top: 6px;
	font-size: 16px;
	color: var(--gray-alt);
	margin: 0; /* Убираем внешний отступ */
	-webkit-line-clamp: 2; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden; /* Обрезаем всё за пределами блока */
}

.button {
	border-radius: 16px;
	padding: 16px 24px;
	width: 304px;
	height: 56px;
	background: #f4f4f4;
	border: none;
	font-size: 18px;
	font-weight: 600;
	margin-top: 16px;
	transition: var(--transition-duration);
}

.button:hover {
	background: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
}

.bubble {
	background-color: var(--dark-color);
	color: var(--light-color);
	font-size: 18px;
	font-weight: 600;
	padding: 12px 64px;
	width: inherit;
	height: 48px;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 14px;
}

.bubble__button:hover {
	opacity: 0.7;
	transition-duration: var(--transition-duration);
}

.main-item {
	position: relative;
	transform: scale(1.02);
}

.tags {
	position: absolute;
	top: 32px;
	left: 32px;
	display: flex;
	gap: 8px;
}

.tag {
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	color: var(--light-color);
	background: rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	padding: 8px;
	width: auto;
	height: 36px;
}

.status {
	position: absolute;
	top: 32px;
	right: 32px;
	background: #fedd2c;
	border-radius: 8px;
	padding: 8px;
	width: auto;
	height: 36px;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	color: var(--dark-color);
	display: flex;
	justify-content: center;
}

.title {
	bottom: 32px;
	left: 32px;
	position: absolute;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 32px;
	line-height: 125%;
	color: var(--light-color);
}

.main-button {
	border: 2px solid var(--dark-color);
	border-radius: 16px;
	padding: 16px 24px;
	width: 1312px;
	height: 56px;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	color: var(--dark-color);
	transition: var(--transition-duration);
}

.main-button:hover {
	background-color: #fedd2c;
}
