@font-face {
	font-family: 'Inter-Regular';
	src: url('/fonts/Inter_18pt-Regular.woff2') format(woff2);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url('/fonts/Inter_18pt-SemiBold.woff2') format(woff2);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
