.footer {
	background-color: var(--dark-color);

	padding: 33px 63px;
	color: var(--footer-color);
	font-size: 14px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.row {
	width: 1336px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 19px;
}

.mobile-buttons {
	display: flex;
	gap: 8px;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footer-contacts__phone {
	font-size: 24px;
	font-weight: 600;
	transition-duration: var(--transition-duration);
}

.footer-contacts__phone:hover {
	color: var(--light-color);
}

.footer-contacts__time {
	font-size: 14px;
}

.footer-icons {
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.footer-menu {
	display: flex;
	gap: 32px;
	align-items: center;
	padding-left: 142px;
}

.footer-menu__item {
	font-size: 16px;
	font-weight: 600;
	transition-duration: var(--transition-duration);
}
.footer-menu__item:hover {
	color: var(--light-color);
}

.link-items {
	display: flex;
	gap: 16px;
	transition-duration: var(--transition-duration);
}

.link {
	transition-duration: var(--transition-duration);
}

.link:hover {
	color: var(--light-color);
}

.pay {
	display: flex;
	gap: 8px;
}

.card {
	border-radius: 4px;
	padding: 4px 8px;
	width: 48px;
	height: 29px;
	background-color: var(--border-top);
	transition-duration: var(--transition-duration);
	display: flex;
	align-items: center;
	justify-content: center;
}

.preax {
	display: flex;
	justify-content: center;
	width: inherit;
	height: 60px;
	align-items: flex-end;
	border-top: 1px solid var(--border-top);
	gap: 5px;
}

.preax-link {
	text-underline-offset: 5px;
	text-decoration: underline;
	transition-duration: var(--transition-duration);
}

.preax-link:hover {
	color: var(--light-color);
}

.footer-icons__item {
	border-radius: 8px;
	width: 40px;
	height: 40px;
	background-color: var(--border-top);
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: var(--transition-duration);
}

.icon {
	fill: var(--footer-color);
	height: 24px;
}

.icon:hover {
	fill: var(--light-color);
}

.shop {
	transition: var(--transition-duration);
	opacity: var(--opacity-main);
}

.shop:hover {
	opacity: 1;
}
