.main {
	max-width: 1460px;
	width: 100%;
	margin: 0 auto;
	padding: 6px 80px;
	gap: 32px;
	display: flex;
	flex-direction: column;
}

.main-headline {
	margin-block: 32px;
	color: var(--dark-color);
	font-size: 40px;
	font-family: var(--font-family-bold);
	line-height: 120%;
}

.restoApp-main__title {
	margin-block: 32px;
	color: var(--dark-color);
}

.main-list {
	display: flex;
	gap: 34px;
}

.main-list__item-menu {
	width: 304px;
	height: 304px;
	border-radius: var(--border-radius);
	position: relative;
	transition: var(--transition-duration);
}

.main-list__item-menu:hover {
	transform: scale(1.02);
}

.main-list__item {
	display: flex;
	flex-direction: column;
	width: 304px;
	height: 304px;
	border-radius: var(--border-radius);
	position: relative;
	transition: var(--transition-duration);
}

.main-list__item:hover {
	transform: scale(1.02);
}

.main-list__item-card {
	position: relative;
	border-radius: var(--border-radius);
}

.main-list__item-menu:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.5) 100%
	);
	z-index: 2;
	border-radius: var(--border-radius);
}

.main-list__item-title {
	font-size: 24px;
	color: var(--light-color);
	position: absolute;
	bottom: 16px;
	left: 16px;
	font-weight: 600;
	z-index: 3;
}

.main-list__item-badges {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 6px;
	right: 10px;
	display: flex;
}

.badges {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 6px;
	display: flex;
}

.main-list__dish {
	font-size: 18px;
	font-weight: 600;
	color: var(--dark-color);
	margin-top: 17px;
}

.main-list__subtitle {
	font-size: 16px;
	color: var(--gray-alt);
	margin: 0; /* Убираем внешний отступ */
	-webkit-line-clamp: 2; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden; /* Обрезаем всё за пределами блока */
}

.button {
	border-radius: 16px;
	padding: 16px 24px;
	width: 304px;
	height: 56px;
	background: #f4f4f4;
	border: none;
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
	transition: var(--transition-duration);
}

.button:hover {
	background: var(--button-alt);
}

.main-item {
	position: relative;
}

.main-item-image {
	border-radius: 16px;
	width: 640px;
	height: 360px;
}

.main-item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.5) 100%
	);
	z-index: 2;
	border-radius: var(--border-radius);
}

.tags {
	position: absolute;
	top: 32px;
	left: 32px;
	display: flex;
	gap: 8px;
}

.tag {
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	color: var(--light-color);
	background: rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	padding: 8px;
	width: auto;
	height: 36px;
}

.status {
	position: absolute;
	top: 31px;
	right: 34px;
	background: #fedd2c;
	border-radius: 8px;
	padding: 8px;
	width: auto;
	height: 36px;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 14px;
	line-height: 143%;
	color: var(--dark-color);
	display: flex;
	justify-content: center;
}

.title {
	bottom: 35px;
	left: 35px;
	position: absolute;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 32px;
	line-height: 125%;
	color: var(--light-color);
	z-index: 3;
}

.main-button {
	border: 2px solid var(--dark-color);
	border-radius: 16px;
	padding: 16px 24px;
	width: 1312px;
	height: 56px;
	font-family: var(--font-family-base);
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	color: var(--dark-color);
	transition: var(--transition-duration);
	margin-top: 32px;
}

.main-button:hover {
	color: var(--light-color);
	background-color: var(--dark-color);
}
