:root {
	--font-family-base: 'Inter', sans-serif;
	--font-size-base: 24px;
	--font--mini: 16px;
	--font-size-XXL: 32px;
	--dark-color: #1c1c1c;
	--dark-alt-color: #555555;
	--footer-color: #a6a6a6;
	--light-color: #ffffff;
	--gray-alt: #727272;
	--border-top: #393939;
	--border-radius: 16px;
	--border: none;
	--opacity-main: 0.7;
	--transition-duration: 0.2s;
}
