:root {
--font-family-base: 'Inter-Regular',sans-serif;
--font-family-accent: 'Inter-SemiBold',sans-serif;
--font-size-base : 24px;
--font--mini : 16px;
--font-size-XXL: 32px;
--yellow-color:#f9c201;
--dark-color:#1c1c1c;
--dark-alt-color:#555555;
--light-color:#FFFFFF;
--border-radius: 16px;
--border: none;
--opacity-main:0.7;
--transition: 0.2s;
}

